<ion-view view-title="" cache-view="false"> 
    <ion-content class="padding"> 

 <div >
  
   <img ng-src="{{btn_click_src}}" height="30%" width="30%" align="left" ng-click="click_lock_button()"/>
   <img ng-src="{{sight_line}}" height="80%" width="15%" align="right"/>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <label class="item item-input">
       <span class="input-label">Slope Degree </span>
       <input type="text" id="slope_degree" value="0" /> 
   </label>
   <label class="item item-input">
       <span class="input-label">Slope Percentage </span>
       <input type="text" id="slope_percentage" value="0" /> 
   </label> 
</div>

         
    </ion-content>
</ion-view>