<ion-view align-title="left" hide-back-button="true" cache-view="false">
  <ion-nav-title >
      <a align="left" class="button button-icon ion-ios-arrow-back" ui-sref="landinfo.about" ></a>
      <a align="left" class="button button-icon" ui-sref="landinfo.about">
        <img src="img/ic_launcher.png" class="title-image" align="left" />&nbsp;LandInfo App Information
      </a>  
  </ion-nav-title>
            
  <ion-content class="padding" >
	 <label class="item item-input"> 
	    <span class="input-label">App Name</span><b><span class="input-label">LandInfo</span></b>
	 </label> 
	 <label class="item item-input"> 
        <span class="input-label">App Version</span><b><span class="input-label">0.0.011116</span></b>
     </label>
     <label class="item item-input"> 
        <span class="input-label">Public Date</span><b><span class="input-label">11 Jan 2016</span></b>
     </label>  
     <label class="item item-input"> 
        <span class="input-label">LandPKS API Version</span><b><span class="input-label">0.0.112915</span></b>
     </label>
     
  </ion-content>
</ion-view>  