<ion-view align-title="left" hide-back-button="true" cache-view="false">
  <ion-nav-title >
      <a align="left" class="button button-icon ion-ios-arrow-back" ui-sref="landinfo.about" ></a>
      <a align="left" class="button button-icon" ui-sref="landinfo.about">
        <img src="img/ic_launcher.png" class="title-image" align="left" />&nbsp;Data Policy
      </a>  
  </ion-nav-title>
            
  <ion-content class="padding" >
	  LandPKS is a global project by the U.S. Department of Agriculture Agricultural Research Service at the Jornada encouraging volunteer participation in the collection, measurement and reporting of matters of concern to them. Our mission is to provide comprehensive support for community-based land assessment and monitoring efforts worldwide. The data gathered by LandPKS participants is freely available to governments, academic institutions and the private sector as well as participants and the general public for the purposes of promoting learning, enhancing scientific knowledge, and promoting sustainable land management. LandPKS data are made available to the public via the web site (www.landpotential.org). In addition, we ask that everyone who uses LandPKS data to please acknowledge its source when displaying it. Unless otherwise noted, all LandPKS content and data are released under a Creative Commons Attribution International 4.0 License. <br/>
      All data available through LandPKS websites and mobile applications are in the public domain, and are not restricted by copyright. Users are strongly encouraged to contact the LandPKS data providers to ensure sound scientific data interpretation in the context of the historical results and any in situ experience with these data. <br/>
       We request any publications utilizing data from LandPKS sources to include formal acknowledgement of the data provider. The formal acknowledgement includes: <br/>

       - The statement: "Datasets were provided by the USDA's Land-Potential Knowledge System". <br/>
       - Citation to the following publication to document LandPKS technologies and data systems: <br/>

Herrick, J.E. et al., 2013. The Global Land-Potential Knowledge System (LandPKS): Supporting evidence-based, site-specific land use and management through cloud computing, mobile applications, and crowdsourcing. Journal of Soil and Water Conservation, 68(1). <br/>

Available at: http://www.jswconline.org/content/68/1/5A.full.pdf+html . <br/>

Please send an electronic copy of all published reports and manuscripts to: admin@landpotential.org <br/>

Disclaimer <br/>

LandPKS data are provided "as is", and in no event shall the providers be liable for any damage or loss due to missing data or mis-interpretation of its content. <br/>
  </ion-content>
</ion-view>  