<link href="css/landuse.css" rel="stylesheet">
<ion-view view-title="" hide-back-button="true" cache-view="false"> <ion-nav-buttons
    side="left">
    <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="completeAddPlot_LandUse();" ></a>
     <a align="left" class="button button-icon"
    ng-click="completeAddPlot_LandUse();"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details</a> </ion-nav-buttons>
    
    <ion-nav-buttons
    side="right"> <a
    align="right" class="button button-icon ion-android-more-vertical"></a>
    </ion-nav-buttons>
    
     
    <ion-content class="padding"> 
        <div class="row divider_bottom">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{landuse_current_grazed}}" ng-click="select_LandUse_Grazed('grazed')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{landuse_current_not_grazed}}" ng-click="select_LandUse_Grazed('not_grazed')"/>
               </div>
         </div>
         <br/>
         <div class="row">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{landuse_current_cattle}}" ng-click="select_LandUse_Grazing('cattle')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{landuse_current_goat}}" ng-click="select_LandUse_Grazing('goat')"/>
               </div>
         </div>
          <div class="row">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{landuse_current_sheep}}" ng-click="select_LandUse_Grazing('sheep')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{landuse_current_wildlife}}" ng-click="select_LandUse_Grazing('wildlife')"/>
               </div>
         </div>
    </ion-content>
</ion-view>