<ion-view view-title="" hide-back-button="true" cache-view="false">
<ion-nav-buttons
	side="left">
<a align="left" class="button button-icon ion-ios-arrow-back" ng-click="goBack()" ></a>
	 <a align="left" class="button button-icon"
	ng-click="goBack()"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;New Plot</a>
	</ion-nav-buttons>


<ion-nav-buttons side="right">
	    <a align="right" class="button button-icon ion-android-more-vertical" ></a>
	    </ion-nav-buttons>

        <ion-content class="padding">
            <a class="item item-icon-right" href="#/landinfo/plotid">Plot ID
             <img  ng-src="img/check-mark-white-th.png"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/></a>

          </p>
        </ion-content>
      </ion-view>