<link href="css/plots.css" rel="stylesheet">
<ion-view align-title="left" hide-back-button="true" cache-view="false">
<ion-nav-title >
      <img src="img/ic_launcher.png" class="title-image" align="left" />&nbsp;LandInfo
    </ion-nav-title>

	 <ion-nav-buttons side="right" style="color: grey;">
	    <a align="right" class="button button-icon ion-ios-rainy" ng-click="getClimate()"></a>
	    <a class="button button-icon ion-ios-world" ui-sref="landinfo.plots_map"></a>
	    <a class="button button-icon ion-plus-round" ui-sref="landinfo.newplot_temp"></a>
	    <a class="button button-icon ion-gear-b" ui-sref="landinfo.settings"></a>
	  </ion-nav-buttons>

 	<ion-content class="padding body" >
	<ion-list> 
	   <ion-item class="othercomponent" ng-repeat="plot in plots" ng-click="selectPlot(plot)" style="vertical-align: middle">
		{{plotname(plot.name)}}<img  ng-src="{{plot.img_src}}" align="right" class="checkmark"/>
		</ion-item>
	 </ion-list>
	<p></p>
	</ion-content>
	</ion-view>  




 -->


  
