<link href="css/review.css" rel="stylesheet">
<ion-view view-title="" hide-back-button="true">

<ion-nav-buttons side="left">
   <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="goBack()" ></a>
   <a align="left" class="button button-icon" ng-click="goBack()">
      <img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details
   </a> 
</ion-nav-buttons>
    
<ion-content class="padding body">
    <p><a  class="lpks-button" ng-click="submitPlot()" id="btnSubmitPlot">Submit Plot Data</a> </p><br>
    <br> <br>
    <p class="lpks-p">
		<b> Plot ID </b>
		&nbsp;&nbsp;
		[<a href="" ng-click="gotoAddPlot_Edit_PlotID();" >Edit</a>]
	</p>
	<label class="item item-input"> 
	    <span class="input-label">Plot name</span>
	    <span class="input-label">{{plot_name}}</span>
	</label> 
	<label class="item item-input"> 
        <span class="input-label">Recorder name</span>
        <span class="input-label">{{currentPlot.recorder_name}}</span>
    </label>  
    <label class="item item-input"> 
        <span class="input-label">Organization</span>
        <span class="input-label">{{currentPlot.organization}}</span>
    </label> 
    <label class="item item-input"> 
        <span class="input-label">Latitude</span>
        <span class="input-label">{{currentPlot.latitude}}</span>
    </label>  
    <label class="item item-input"> 
        <span class="input-label">Longitude</span>
        <span class="input-label">{{currentPlot.longitude}}</span>
    </label>
   
    <br>
	 <p class="lpks-p">
		<b> Land Cover </b>
		&nbsp;&nbsp;
		[<a href="#/landinfo/landcover" >Edit</a>]
	</p>
	<br>

	<label class="item item-input"> 
        <span class="input-label">Land Cover</span>
        <span class="input-label"><img ng-src="{{landcover_selected_plot}}" width ="90" height="90"/></span>
        <span class="input-label">{{currentPlot.land_cover}}</span>
    </label>   
    
    <label class="item item-input"> 
        <span class="input-label">Flooding</span>
        <span class="input-label"><img ng-src="{{flooding_selected_plot}}" width ="90" height="90"/></span>
        <span class="input-label">{{currentPlot.flooding}}</span>
    </label>
    
	<br>
	<p class="lpks-p">
		<b> Land Use </b>
		&nbsp;&nbsp;
		[<a href="#/landinfo/landuse" >Edit</a>]
	</p>
	<br>
	
	<label class="item item-input"> 
        <span class="input-label">Grazed</span>
        <span class="input-label"><img ng-src="{{grazed_selected_plot}}" width ="90" height="90"/></span>
        <span class="input-label">{{currentPlot.grazed}}</span>
    </label> 
    
	<label class="item item-input"> 
        <span class="input-label">Grazing</span>
        <span class="input-label">{{currentPlot.grazing}}</span>
    </label>
    <br>
	<p class="lpks-p">
		<b> Slope </b>
		&nbsp;&nbsp;
		[<a href="#/landinfo/slope" >Edit</a>]
	</p>
	<br>

	<label class="item item-input"> 
        <span class="input-label">Slope</span>
        <span class="input-label"><img ng-src="{{slope_selected_plot}}" width ="90" height="90"/></span>
        <span class="input-label">{{currentPlot.slope}}</span>
    </label>
    
    <br>
	<p class="lpks-p">
		<b> Slope Shape </b>
		&nbsp;&nbsp;
		[<a href="#/landinfo/slopeshape" >Edit</a>]
	</p>
	<br>

	<label class="item item-input"> 
        <span class="input-label">Down slope shape</span>
        <span class="input-label"><img ng-src="{{down_slopeshapre_selected_plot}}" width ="90" height="90"/></span>
        <span class="input-label">{{currentPlot.slopeshape_down_data}}</span>
    </label>
    <label class="item item-input"> 
        <span class="input-label">Cross slope shape</span>
        <span class="input-label"><img ng-src="{{cross_slopeshapre_selected_plot}}" width ="90" height="90"/></span>
        <span class="input-label">{{currentPlot.slopeshape_cross_data}}</span>
    </label>
    <br>
    <p class="lpks-p">
	  <b> Soil Conditions </b>
	  &nbsp;&nbsp;
	  [<a href="#/landinfo/soilcondition" >Edit</a>]
	</p>
	<br>

	<label class="item item-input"> 
        <span class="input-label">Surface Cracked</span>
        <span class="input-label"><img ng-src="{{surface_cracked_selected_plot}}" width ="90" height="90"/></span>
        <span class="input-label">{{currentPlot.surface_cracking}}</span>
    </label>
     <label class="item item-input"> 
        <span class="input-label">Surface Salt</span>
        <span class="input-label"><img ng-src="{{surface_salt_selected_plot}}" width ="90" height="90"/></span>
        <span class="input-label">{{currentPlot.surface_salt}}</span>
    </label>
    
     <br>
	<p class="lpks-p">
		<b> Soil Layers </b>
	</p>
	<br>
	<p class="lpks-p"> 0-1cm  &nbsp;&nbsp; [<a href="#/landinfo/soillayers1" >Edit</a>]</p>
	   
	<br>
	<label class="item item-input"> 
        <span class="input-label">Rock fragment volume</span><span class="input-label">{{currentPlot.rock_fragment.soil_horizon_1}}</span>
    </label>
    <label class="item item-input"> 
        <span class="input-label">Soil texture</span><span class="input-label">{{currentPlot.texture.soil_horizon_1}}</span>
    </label>    
    <br>
	<p class="lpks-p">1-10cm &nbsp;&nbsp; [<a href="#/landinfo/soillayers2" >Edit</a>]</p>
	
	<br>
    <label class="item item-input"> 
        <span class="input-label">Rock fragment volume</span><span class="input-label">{{currentPlot.rock_fragment.soil_horizon_2}}</span>
    </label>
    <label class="item item-input"> 
        <span class="input-label">Soil texture</span><span class="input-label">{{currentPlot.texture.soil_horizon_2}}</span>
    </label>    
    <br>
	<p class="lpks-p">10-20cm &nbsp;&nbsp; [<a href="#/landinfo/soillayers3" >Edit</a>]</p>
	
	<br>
    <label class="item item-input"> 
        <span class="input-label">Rock fragment volume</span><span class="input-label">{{currentPlot.rock_fragment.soil_horizon_3}}</span>
    </label>
    <label class="item item-input"> 
        <span class="input-label">Soil texture</span><span class="input-label">{{currentPlot.texture.soil_horizon_3}}</span>
    </label>    
    <br>
	<p class="lpks-p">20-50cm &nbsp;&nbsp; [<a href="#/landinfo/soillayers4" >Edit</a>]</p>
	
	<br>
    <label class="item item-input"> 
        <span class="input-label">Rock fragment volume</span><span class="input-label">{{currentPlot.rock_fragment.soil_horizon_4}}</span>
    </label>
    <label class="item item-input"> 
        <span class="input-label">Soil texture</span><span class="input-label">{{currentPlot.texture.soil_horizon_4}}</span>
    </label>    
    <br>
	<p class="lpks-p">50-70cm &nbsp;&nbsp; [<a href="#/landinfo/soillayers5" >Edit</a>]</p>
	
	<br>
    <label class="item item-input"> 
        <span class="input-label">Rock fragment volume</span><span class="input-label">{{currentPlot.rock_fragment.soil_horizon_5}}</span>
    </label>
    <label class="item item-input"> 
        <span class="input-label">Soil texture</span><span class="input-label">{{currentPlot.texture.soil_horizon_5}}</span>
    </label>    
    <br>
	<p class="lpks-p">70-100cm &nbsp;&nbsp; [<a href="#/landinfo/soillayers6" >Edit</a>]</p>
	
	<br>
    <label class="item item-input"> 
        <span class="input-label">Rock fragment volume</span><span class="input-label">{{currentPlot.rock_fragment.soil_horizon_6}}</span>
    </label>
    <label class="item item-input"> 
        <span class="input-label">Soil texture</span><span class="input-label">{{currentPlot.texture.soil_horizon_6}}</span>
    </label>    
    <br>
	<p class="lpks-p">100-120cm &nbsp;&nbsp; [<a href="#/landinfo/soillayers7" >Edit</a>]</p>
	
	<br>
    <label class="item item-input"> 
        <span class="input-label">Rock fragment volume</span><span class="input-label">{{currentPlot.rock_fragment.soil_horizon_7}}</span>
    </label>
    <label class="item item-input"> 
        <span class="input-label">Soil texture</span><span class="input-label">{{currentPlot.texture.soil_horizon_7}}</span>
    </label>    
    <br>
	<p class="lpks-p">
		<b> Photos </b>
		&nbsp;&nbsp;
	    [<a href="#/landinfo/photos" >Change</a>]
	</p>
	<br>

	<label class="item item-input"> 
        <span class="input-label">North</span>
        <span class="input-label"><img ng-src="{{currentPlot.landscape_north_photo_data_url}}" class="image-list-thumb" width="200" height="150"></span>
    </label>
   <label class="item item-input"> 
        <span class="input-label">East</span>
        <span class="input-label"><img ng-src="{{currentPlot.landscape_east_photo_data_url}}" class="image-list-thumb" width="200" height="150"></span>
   </label>
    <label class="item item-input"> 
        <span class="input-label">South</span>
        <span class="input-label"><img ng-src="{{currentPlot.landscape_south_photo_data_url}}" class="image-list-thumb" width="200" height="150"></span>
   </label> 
   <label class="item item-input"> 
        <span class="input-label">West</span>
        <span class="input-label"><img ng-src="{{currentPlot.landscape_west_photo_data_url}}" class="image-list-thumb" width="200" height="150"></span>
   </label> 
   <label class="item item-input"> 
        <span class="input-label">Soil Pit</span>
        <span class="input-label"><img ng-src="{{currentPlot.soil_pit_photo_data_url}}" class="image-list-thumb" width="200" height="150"></span>
   </label> 
   <label class="item item-input"> 
        <span class="input-label">Soil Sample</span>
        <span class="input-label"><img ng-src="{{currentPlot.soil_sample_photo_data_url}}" class="image-list-thumb" width="200" height="150"></span>
   </label>
    <label class="item item-input"> 
        <span class="input-label">Notes</span>
        <span class="input-label">{{currentPlot.notes}}</span>
    </label>
<br/>
<p><a   class="lpks-button" ng-click="submitPlot()" id="btnSubmitPlot">Submit Plot Data</a> </p><br>
          
        
</ion-content>
</ion-view>