<link href="css/slope.css" rel="stylesheet">
<ion-view view-title="" cache-view="false" hide-back-button="true"> 
<ion-nav-buttons
    side="left"> 
    <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="completeAddPlot_Slope();" ></a>
    <a align="left" class="button button-icon"
    ng-click="completeAddPlot_Slope();"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details</a> 
</ion-nav-buttons>
    
    
<ion-nav-buttons
    side="right"> <a
    align="right" class="button button-icon ion-android-more-vertical"></a>
</ion-nav-buttons>

<!--  
<div class="tabs-striped tabs tabs-top tabs-background-stable tabs-color-balanced">
      <a class="tab-item" href="#/landinfo/landuse">
        <b>Land Use</b>
      </a>
      <a class="tab-item active" href="#/landinfo/slope">
        <b>Slope</b>
      </a>
      <a class="tab-item" href="#/landinfo/slopeshape">
        <b>Slope Shape</b>
      </a>
</div>
-->    
    
<ion-content class="padding body" > 
<br/><br/> <br/>     
<p align="center">
      <button  class="lpks-button" ng-click="slope_Meter();"
		id="btnUseSlopeMeter" >Use Slope Meter</button>
      <input type="text" id="slopeMeterValue" value="" style="background-color: #EBEBEB;"/>
      <b><text align="center" id="txtSlopeMeter"></text></b>
	  
</p>
<br/>
<p align="center" class="lpks-p">
    <b><text align="center">OR</text></b>		
</p>
 <br/>
         <div class="row ">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_flat}}" ng-click="select_Slope_Filled('flat')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_gentle}}" ng-click="select_Slope_Filled('gentle')"/>
               </div>
         </div>
          <div class="row ">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_moderate}}" ng-click="select_Slope_Filled('moderate')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_rolling}}" ng-click="select_Slope_Filled('rolling')"/>
               </div>
         </div>

          <div class="row ">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_hilly}}" ng-click="select_Slope_Filled('hilly')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_steep}}" ng-click="select_Slope_Filled('steep')"/>
               </div>
         </div>

         <div class="row ">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_verysteep}}" ng-click="select_Slope_Filled('verysteep')"/>
               </div>
         </div>
     
    </ion-content>
</ion-view>