<link href="css/landuse.css" rel="stylesheet">
<ion-view view-title="" cache-view="false"> 
<ion-nav-buttons
    side="left"> 
    <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="completeAddPlot_Slope();" ></a>
    <a align="left" class="button button-icon"
    ng-click="completeAddPlot_Slope();"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details</a> 
</ion-nav-buttons>
    
    
    <ion-nav-buttons
    side="right"> <a
    align="right" class="button button-icon ion-android-more-vertical"></a>
    </ion-nav-buttons>
    
     
    <ion-content class="padding" > 
      
<p align="center">
      <button  class="button icon" ng-click="slope_Meter();"
		id="btnUseSlopeMeter" >Use Slope Meter</button>
</p>
		<input type="text" id="slopeMeterValue" value=""/>
        <p align="center">
	         <b><text align="center" id="txtSlopeMeter"></text></b>
	         <br/>
	         <br/>
	         <b><text align="center">OR</text></b>
        </p>
          <br/>
         <div class="row">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_flat}}" ng-click="select_Slope_Filled('flat')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_gentle}}" ng-click="select_Slope_Filled('gentle')"/>
               </div>
         </div>
          <div class="row">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_moderate}}" ng-click="select_Slope_Filled('moderate')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_rolling}}" ng-click="select_Slope_Filled('rolling')"/>
               </div>
         </div>

          <div class="row">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_hilly}}" ng-click="select_Slope_Filled('hilly')"/>
               </div>
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_steep}}" ng-click="select_Slope_Filled('steep')"/>
               </div>
         </div>

         <div class="row">
               <div class="col col-50 box">
                    <img class="content" ng-src="{{slope_verysteep}}" ng-click="select_Slope_Filled('verysteep')"/>
               </div>
         </div>
     
    </ion-content>
</ion-view>
