<link href="css/tab.css" rel="stylesheet">
<link href="css/soillayers1.css" rel="stylesheet">
<ion-view view-title="" hide-back-button="true" cache-view="false">
<ion-nav-buttons
    side="left"> 
    <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="completeAddPlot_Soilayer_1();" ></a>
    <a align="left" class="button button-icon"
    ng-click="completeAddPlot_Soilayer_1();"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details</a> 
</ion-nav-buttons>


<div class="tabs-striped tabs tabs-top tabs-background-stable tabs-color-balanced">
      <a class="tab-item active" href="#/landinfo/soillayers1">
        <b>0-1CM</b>
      </a>
      <a class="tab-item " href="#/landinfo/soillayers2">
        <b>1-10CM</b>
      </a>
      <a class="tab-item " href="#/landinfo/soillayers3">
        <b>10-20CM</b>
      </a>
      <a class="tab-item " href="#/landinfo/soillayers4">
        <b>20-50CM</b>
      </a>
      <a class="tab-item " href="#/landinfo/soillayers5">
        <b>50-70CM</b>
      </a>
      <a class="tab-item " href="#/landinfo/soillayers6">
        <b>70-10CM</b>
      </a>
      <a class="tab-item" href="#/landinfo/soillayers7">
        <b>100-120CM</b>
      </a>
</div>

<ion-content class="padding body">  
<br/>
<br/>
<br/> 
   <p class="lpks-p">0-1 cm</p> <br>

<div class="othercomponent" ng-click="openPopupSelectRock_fragment();">
	<p class="lpks-p-2">Rock Fragment Volume</p>
	<div class="lpks-select">
	    <input type="label" ng-model="rock_fragement_value" value="0-15%" readonly="readonly" style="border:0px; background-color:white;"/>
	</div> 
</div>
  
<br>
 
<div class="othercomponent">
	<p class="lpks-p-2"> Soil Texture </p>
	<select ng-model="texture_value" ng-change="selectTexture(texture_value)">
	      <option class="lpks-option" value="SAND">Sand</option>
	      <option class="lpks-option" value="LOAMY SAND">Loamy sand</option>
	      <option class="lpks-option" value="SANDY LOAM">Sandy loam</option>
	      <option class="lpks-option" value="SILT LOAM">Silt loam</option>
	      <option class="lpks-option" value="LOAM">Loam</option>
		  <option class="lpks-option" value="SANDY CLAY LOAM">Sandy clay loam</option>
		  <option class="lpks-option" value="SILTY CLAY LOAM">Silty clay loam</option>
		  <option class="lpks-option" value="CLAY LOAM">Clay loam</option>
		  <option class="lpks-option" value="SANDY CLAY LOAM">Sandy clay loam</option>
		  <option class="lpks-option" value="SILTY CLAY">Silty clay</option>
		  <option class="lpks-option" value="CLAY">Clay</option>
	</select> &nbsp;&nbsp;&nbsp;&nbsp;
	<b> Or </b>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="button button-small">Guide me</button>	
</div> 
<br/>
<div class="othercomponent">
   <p class="lpks-p-2">If Restrictive layer:</p>
   <p>Bedrock or similar at  &nbsp;&nbsp;&nbsp;&nbsp;
    <select>
      <option selected></option>
      <option >0</option>
      <option>1</option>
      
    </select>
  cm. No soil below.</p>

        <p>Stopped digging at   &nbsp;&nbsp;&nbsp;&nbsp;  <select>
      <option selected></option>
      <option >0</option>
      <option>1</option>
      
    </select>  cm. Soil below.</p>
</div>

        </ion-content>
      </ion-view>