<ion-view view-title="" hide-back-button="true" cache-view="false">
        
 
<ion-nav-buttons
    side="left"> 
    <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="completeAddPlot_Soilayer_1();" ></a>
    <a align="left" class="button button-icon"
    ng-click="completeAddPlot_Soilayer_1();"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details</a> 
</ion-nav-buttons>


<ion-tabs class="tabs-striped tabs-top tabs-background-stable">
     <ion-tab>
     </ion-tab>
</ion-tabs>


</ion-view>