<link href="css/landcover.css" rel="stylesheet">
<ion-view view-title="" cache-view="false"> <ion-nav-buttons
	side="left"> 
  <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="completeAddPlot_SoilConditions()" ></a>
  <a align="left" class="button button-icon"
	ng-click="completeAddPlot_SoilConditions()"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details</a> </ion-nav-buttons>
	
	
	<ion-nav-buttons
    side="right"> <a
    align="right" class="button button-icon ion-android-more-vertical"></a>
</ion-nav-buttons>
	 
	<ion-content class="padding"> 
	    <div class="row">
               <div class="col col-55 box">
                    <img class="content" ng-src="{{soilcondition_soilcracks}}" ng-click="select_crack_or_not_crack('CRACKED')" style="width:98%; height:85%" />
               </div>
                <div class="col col-50 divider_left box">
               <img class="content" ng-src="{{soilcondition_surfacesalt}}" ng-click="select_salt_or_not_salt('SALTED')" style="width:98%; height:85%"/>
                </div>  
         </div>
         <!--<div class="row responsive-md"> -->   
         <div class="row"> 
               <div class="col col-50 box">
                    <img class="content" ng-src="{{soilcondition_nosoilcracks}}" ng-click="select_crack_or_not_crack('NOT_CRACKED')" style="width:98%; height:85%"/>
               </div>
             
               <div class="col col-50 divider_left box">
                    <img class="content" ng-src="{{soilcondition_nosurfacesalt}}" ng-click="select_salt_or_not_salt('NOT_SALTED')" style="width:98%; height:85%"/>
               </div>
        </div> 

	</ion-content>
</ion-view>
