 <link href="css/soillayers.css" rel="stylesheet">
 <ion-view view-title="" hide-back-button="true" cache-view="false">

 <ion-nav-buttons
    side="left">
  <a align="left" class="button button-icon ion-ios-arrow-back" ng-click="goBack()" ></a>
   <a align="left" class="button button-icon"
    ng-click="goBack()"><img src="img/ic_launcher.png" class="title-image1" align="left">&nbsp;{{plot_name}} Details</a> </ion-nav-buttons> 

        <ion-content class="padding body">
            <a class="item item-icon-right soillayer" href="#/landinfo/soillayers1">0-1cm
               <img  ng-src="{{add_plot_soil_layer_1}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" href="#/landinfo/soillayers2">1-10cm
               <img  ng-src="{{add_plot_soil_layer_2}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" href="#/landinfo/soillayers3">10-20cm
               <img  ng-src="{{add_plot_soil_layer_3}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" href="#/landinfo/soillayers4">20-50cm
               <img  ng-src="{{add_plot_soil_layer_4}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" href="#/landinfo/soillayers5">50-70cm
               <img  ng-src="{{add_plot_soil_layer_5}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" href="#/landinfo/soillayers6">70-100cm
               <img  ng-src="{{add_plot_soil_layer_6}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
            <a class="item item-icon-right othercomponent" href="#/landinfo/soillayers7">100-120cm
               <img  ng-src="{{add_plot_soil_layer_7}}"  style="height:5% ; margin:0" align="right" class="image-list-thumb"/>
            </a>
 
        </ion-content>
      </ion-view>