<ion-view view-title="LandScape North Photo" cache-view="false"> 
<ion-content class="padding">
    <div class="list card">
       <div class="item item-image">
          <img ng-src="{{pictureURL}}" >
       </div>
    </div>
    <div class="padding">
       <button ng-click="takePicture();" 
         class="button button-block button-calm">Take Picture</button>
       <button ng-click="saveNorthPhoto();" 
         class="button button-block button-calm">Save LandScape North Photo</button>
    </div>
</ion-content>
</ion-view>