.divider_bottom{
    border-bottom:8px solid grey;
}

.ctn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle 
}

.box{
    position: relative;
    width: 50%;     /* desired width */
}
.box:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.content{
    position:  absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 70%;
}

.body {
	background-color: #EBEBEB;
}


.lpks-img {
	height: 30%;
	width: 30%;
	border-radius: 10px;
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
	margin-top: 5px;   
}

.horizontalbreak {
	border: 0;
    height: 3px;
    background: #009100;
	color: #009100;
}

.othercomponent {
	text-align: center;	
}