@charset "UTF-8";
/* CSS Document */

.body {
	background-color: #EDEDED;
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

.lpks-p {
	text-align: left;
}

.lpks-img {
	border-radius: 10px;
}