

.body {
	background-color: #EBEBEB;
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
	text-align: right;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	padding: 0px;
	text-indent: 30px;
	
}

.lpks-p {
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	margin-right: 25px;
	
}




.lpks-button {
	background-color: #009100;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: small;
	border-radius: 25px;
	box-shadow: none;
	border: none;
	padding: 10px;
	margin-right: 25px;

	
	
}

.lpks-input-label {
	border-radius: 10px;
	font-size: medium;
	background-color: white;
	color: black;
	box-shadow: none;
	padding: 3px;
	text-align: left;
	width: auto;
	border:none;
	display: inline-flex;
}

.plotname {
	width: 95%;
	height: auto;
	color: black;
	background-color: white;
	border-radius: 10px;
	display: inline-flex;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
	margin-bottom: 2px;
	text-align: left;
	text-indent: 10px;
	font-size: medium;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5px;
	line-height: 15px;
    
	

	
}

.lpks-radio {
	align-content: right;
	width: 50%;
	display: inline-block;
}

.othercomponent {
	width: 95%;
	height: auto;
	color: black;
	background-color: white;
	border-collapse: collapse;
	align: center;
	border-radius: 10px;
	display: inline-flex;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	margin-bottom: 2px;
	text-align: left;
	text-indent: 20px;
	font-size: medium;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	
}

