@charset "UTF-8";
/* CSS Document */
.body {
	background-color: #EDEDED;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	font-weight: bold;
	width: 100%;
	height: 100%;
	align: center;
	
}

.lpks-p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	text-indent: 20px;
}

.lpks-nav-button {
	height: auto;
	width: 100%;
	background-color: white;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
}

.lpks-tab-text {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-indent: 20px;
}
.checkmark {
height: 25px;
width: 25px;
}

.lpks-img {
	border-radius: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 95%;
	align: center;
	height: 100%;
}

.lpks-img-top {
	border-radius: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
	width: 95%;
	align: center;
	height: 100%;
}

.lpks-climate {
	text-align: center;
	color: black;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	
}

.othercomponent {
	width: 95%;
	height: auto;
	color: black;
	background-color: white;
	border-collapse: collapse;
	align: center;
	border-radius: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	text-align: left;
	text-indent: 20px;
	line-height: 30px;
	font-size: 14px;
	padding: 5px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.lpks-graph {
	background-color: white;
}
