.body {
	background-color: #EBEBEB;
}

.divider_bottom{
    border-bottom:8px solid grey;
}

.ctn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle 
}

.box{
    position: relative;
    width: 50%;     /* desired width */
}
.box:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.content{
    position:  absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 70%;
}


.lpks-img {
	height: 40%;
	width: 40%;
	border-radius: 10px;
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
	margin-top: 5px;
	background-color: white;
	
   
}

.horizontalbreak {
	border: 0;
    height: 3px;
    background: #009100;
	color: #009100;
}

.othercomponent {
	text-align: center;
	
}

.lpks-p {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	font-weight: bold;
}

.lpks-button {
	width: auto;
	height: auto;
	background-color: #009100;
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	border-radius: 10px;
	padding: 10px;
	border: none;
	text-align: center;
	display: block;
	margin: 0 auto;
}
	
